@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 22px
  }
/* This is a needed section and controls the links in nav bar */
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

/* This is a needed Section */
body {
  background-color: white;
  font-family: 'Open Sans';
  font-size: 22px;
  margin: 0;
  padding: 0;
}

/* This is a needed Section */
header {
  background-color: #1d0d63;
  display: grid;
  grid-template-columns: 150px auto;
}

/* This is a needed Section */
nav {
  display: flex;
  justify-content: space-around;
}

/* This is a needed Section */
nav a:hover {
  background-color: #6d7b0f;
  color: white;
}

/* Need to change this to the correct grid sizing */
.home-grid {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  width:100vw;
}

/* This is a needed Section */
footer {
  background-color: #1d0d63;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* This is a needed Section */
footer h3 {
  color: white;
  font-size: medium;
}
/* This is a needed Section */
footer a {
  color: white;
  text-decoration: none;
  padding: 25px 50px;
  margin-top: 200px;
}
/* This is a needed Section */
footer a:hover {
  color: #6d7b0f;
}
/* This is a needed Section */
footer h3 a:hover {
  text-decoration: solid;
}
/* This is a needed Section */
.logo {
  width: 180px;
  margin-top: 20px;
  margin-left: 20px;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  
}
/* This is a needed Section */
.social {
  padding-top: 15px;
  
}
/* This is a needed Section */
#facebook {
  margin-left: 49%;
}
/* This is a needed Section */
#twitter {
  margin-left: -20%; 
}
/* This is a needed Section */
#instagram {
  margin-left: -61%;
}


/* @media screen and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  nav, footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: black;
  }
  .rivers-card, .camping-card, .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #backround {
    display: none;
  }
  .mountains, .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
} */